<h1> Setup Routing in Angular</h1>
<h2> A step by step tutorial</h2>
<div class="steps">Steps</div>
<div ng-non-bindable>
  <ol>
    <li>Create an app routing module
      <div class="code">ng generate module app-routing --flat --module=app</div>
    </li>
    <li>
      In
      <b>app-routing.module.ts</b>
      <ol>
        <li>
          Import RouterModule and Routes
          <div class="code">
            <pre ng-non-bindable>
              import { RouterModule, Routes } from '@angular/router';
            </pre>
          </div>
        </li>
      </ol>
    </li>
    <li></li>
    <li></li>
    <li></li>
  </ol>
</div>
<div class="sources">
  <h1>Sources</h1>
  <ul>
    <li>
      <a href="https://angular.io/tutorial/toh-pt5#add-the-approutingmodule">Add the AppRouting module</a>
    </li>
    <li>
      <a href="https://angular.io/tutorial/toh-pt5#add-a-navigation-link-routerlink">Add a Navigation Link</a>
    </li>
    <li>
      <a href="https://angular.io/tutorial/toh-pt5#add-a-default-route">Add a default route</a>
    </li>
    <li>
      <a href="https://angular.io/tutorial/toh-pt5#add-a-hero-detail-route">Add a paremetized route</a>
    </li>
  </ul>
</div>
<button (click)="goBack()">go back</button>